// Primary
$clr-moderate-violet: hsl(263, 55%, 52%);
$clr-light-violet: hsl(266, 71%, 69%);
$clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
$clr-very-dark-grayish-blue-50opacity: hsla(217, 19%, 35%, 0.5);
$clr-very-dark-grayish-blue-60opacity: hsla(217, 19%, 35%, 0.6);
$clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
$clr-white: hsl(0, 0%, 100%);
$clr-white-05opacity: hsla(0, 0%, 100%, 0.5);

// Neutral
$clr-light-gray: hsl(0, 0%, 81%);
$clr-light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$fs-paragraph: 13px;

// Note for text colors:
// 1. "Verified Graduate" has the same color as the person's name with 50% opacity
// 2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

